@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400,600&display=swap");

.container {
  padding: 0 8%;

  @media (min-width: 1280px) {
    padding: 0 16%;
  }
}

h1 {
  font-family: "Abril Fatface", serif;
  font-style: normal;
  font-weight: normal;
  // font-size: ;
  // line-height: ;
  color: var(--grayDark);
  margin-bottom: 0;
}

h2 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: normal;
  // font-size: ;
  // line-height: ;
  color: var(--grayDark);
  margin: 0;
}

h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  // font-size: ;
  // line-height: ;
  color: var(--grayDark);
  margin: 0;
}

h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  // font-size: ;
  // line-height: ;
  color: var(--gray);
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray);
}

*:focus {
  outline: none;
}

@media (min-width: 800px) {
  h1 {
    // font-size: ;
    // line-height: ;
  }

  h2 {
    font-size: 36px;
    line-height: 49px;
  }

  h3 {
    font-size: 32px;
    line-height: 44px;
  }

  h4 {
    font-size: 20px;
    line-height: 27px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1024px) {
  h1 {
    // font-size: ;
    // line-height: ;
  }

  h2 {
    font-size: 40px;
    line-height: 54px;
  }

  h3 {
    font-size: 36px;
    line-height: 49px;
  }

  h4 {
    font-size: 24px;
    line-height: 33px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 96px;
    line-height: 130px;
  }

  h2 {
    font-size: 48px;
    line-height: 65px;
  }

  p {
    font-size: 22px;
    line-height: 30px;
  }
}
