@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,600&display=swap");

.container {
  padding: 0 8%;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 74px;
  color: #fff;
  margin-bottom: 0;
}

h2 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #272d39;
  margin: 0;
}

h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #272d39;
  margin: 0;
}

h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #272d39;
  margin: 0;
}

*:focus {
  outline: none;
}
